*{
    margin: 0 rem;
    padding: 0 rem;
    box-sizing: border-box;
}

body{
    background: navy  ;
    color: #ffe100;
    font-family: Arial ;
    min-height: 100%;

}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 30%;
    display: flex;
    justify-content: center;
    align-content: center;


}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button:hover {
    background: #ffe100;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-height: 30%;
    list-style: none;

}
.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}
.trash-btn, .complete-btn{
    background: #ffe100;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background: green;
}
.complete-btn:hover{
    background: lawngreen;

}
.trash-btn{
    background: darkred;
}
.trash-btn:hover{
    background: red;
}
.todo-item}{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
 select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}
 .select{
     margin: 1rem;
     overflow: hidden;
     position: relative;
 }
 select{
     width: 10rem;
     cursor: pointer;
     padding: 1rem;
 }
 .select::after{
     content:"\25bc";
     position: absolute;
     background: darkslateblue;
     top: 0;
     right: 0;
     padding: 1rem;
     pointer-events: none;
 }
